p, ul, li {
  line-height: 1.5;
}

/* Filter Box Styling */
/* Leverage BradyID styles where possible */

/* According Styling for Transistions */
.BR-MatSelApp__Filter__Accordion {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height .3s, opacity .2s;
}

/* Color Swatch Filter stylings */
/* MatSelApp not included in name since this could be used elsewhere */

.BR-FilterColorSwatch {
  display: flex;
  justify-content: center;
  margin: 4px;
  text-align: center;
}

.BR-FilterColorSwatch input[type=checkbox] +label:before {
  display: none;
}

.BR-FilterColorSwatch input[type=checkbox] {
  display: none;
}

.BR-FilterColorSwatch input[type=checkbox] +label {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  line-height: 1.3;
  padding: 0.125rem 0.125rem;
  width: 36px;
  height: 36px;
  border: 1px solid #000;
  margin: 0 .375rem .375rem 0;
}

.BR-FilterColorSwatch:hover input[type=checkbox] +label {
  border: 2px solid #000;
}

.BR-FilterColorSwatch input[type=checkbox]:checked +label {
  border: 3px solid #000;
}

.BR-FilterColorSwatch input[type=checkbox]:disabled +label {
  border: 0px solid #000;
  opacity: .3;
  cursor: not-allowed;
}

/* Hide color swatch tool tip when the swatch is disabled */
.BR-FilterColorSwatch input[type=checkbox]:disabled +label span {
  opacity: 0;
}

/* Color Swatch Tool Tip Stylings */
.BR-FilterColorSwatch__ToolTip {
    position: relative;
    display: inline-block;
}

.BR-FilterColorSwatch__ToolTip .BR-FilterColorSwatch__ToolTip__Text {
    visibility: hidden;
    width: 6rem;
    background-color: #555;
    color: #fff;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    padding: .375rem .375rem;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -3rem;
    opacity: 0;
    transition: opacity 400ms, bottom 400ms ;
    transition-timing-function: ease-out;
}

.BR-FilterColorSwatch__ToolTip .BR-FilterColorSwatch__ToolTip__Text:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.5rem;
    border-width: .5rem;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.BR-FilterColorSwatch__ToolTip:hover .BR-FilterColorSwatch__ToolTip__Text {
    visibility: visible;
    opacity: 1;
    transition-delay: 250ms;
    bottom: 140%;
}

/*Color definitions for swatches*/
.BR-FilterColorSwatch--Yellow {
  background: yellow;
}

.BR-FilterColorSwatch--Black {
  background: #000;
}

.BR-FilterColorSwatch--Red {
  background: #ff120d;
}

.BR-FilterColorSwatch--Blue {
  background: #0049d8;
}

.BR-FilterColorSwatch--Brown {
  background: #6c3510;
}

.BR-FilterColorSwatch--Gold {
  background: #c8a900;
}

.BR-FilterColorSwatch--Gray {
  background: #747d83;
}

.BR-FilterColorSwatch--Green {
  background: #3bd600;
}

.BR-FilterColorSwatch--Purple {
  background: #2513e8;
}

.BR-FilterColorSwatch--Orange {
  background: #ff6b21;
}

.BR-FilterColorSwatch--Clear {
  background: linear-gradient(45deg, #eee, #fff, #eee)
}

.BR-FilterColorSwatch--White {
  background: #fff;
}

.BR-FilterColorSwatch--LightBlue {
  background: #12cce8;
}

.BR-FilterColorSwatch--Pink {
  background: #ffa6ff;
}

.BR-FilterColorSwatch--Violet {
  background: #EE82EE;
}

.BR-FilterColorSwatch--Metallized  {
  background: linear-gradient(45deg, #ccc, #eee, #ccc);
}

.BR-FilterColorSwatch--Silver  {
  background: linear-gradient(45deg, #ddd, #fff, #ddd);
}

/*Fix the height of the input box. Add more specificity*/
input[type=text]  {
  height: 2.75rem;
}


/* No results screen */
.BR-MatSelApp__NoResults {
    font-size: 28px; 
    padding: 2rem 4rem;
    width: 100%;
}

/* BNum Results Styling */

.msappheaders2 {
    margin-top: .5rem;
}

/* Style the button that is used to open and close the collapsible content */
.BnumRow {
    background-color: #fff;
    color: #444;
    width: 100%;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1rem;
    margin-bottom: .75rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.BnumRow:hover {
  background-color: #ccc;
}

.BnumHeaderContainer {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: .875rem 1rem;
  max-width: 100%;
}

.Bnum_Number {
  font-weight: 700;
  margin-bottom: 0;
  margin-right: .75rem;
  max-width: 100%;
  -webkit-flex: 0 0 auto;
}

.Bnum_Description {
  margin-bottom: 0;
  margin-right: .3125rem;
  max-width: 100%;
  -webkit-flex: 0 0 auto;
}

/*Bnum Details Styles*/

.BnumDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  margin: 0;
  overflow: hidden;
  background-color: #f2f2f2;
  max-height: 0;
  opacity: 0;
  transition: max-height .2s, opacity .2s;
}

/*.BnumDetailsSubSection {
  display: flex;
  flex-direction: column;
  background: #Fefefe;
  padding: 1.5rem;
  border: 1px solid #ccc;
  font-size: .875rem;
}*/

.BnumDetailsSubSection--MaxThreeAcross {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #Fefefe;
  padding: 1.5rem;
  border: 1px solid #ccc;
  font-size: .875rem;
}


.BnumDetailsSubheader {
  color: #000;
  font-size: 1.125rem;
}

.BnumDetailSubsectionHeader {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 .5rem 0;
}


.swatch_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: .25rem;
}

.BnumDetailList {
  margin-bottom: 0;

}

.BnumDetailListItem {
  margin: 0;
  font-size: 14px;
  list-style-position: inside;
}

.BnumTypeimage {
  float: left;
  margin-right: 1.5rem;
  width: 125px;
  height: 125px;
}

.newSpecProp {
  list-style-type: none;
  min-height: 36px;
  background: url('default_icon.png') no-repeat;;
  margin: .5rem 1.75rem 1rem 0rem;
  padding-left: 3rem;
  line-height: 1.125rem;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 1px;
}

.SpecPropIcon_HR {
  background: url(heat_resistant_icon.png) no-repeat;
}

.SpecPropIcon_CR {
  background: url(cold_resistant_icon.png) no-repeat;
}

.SpecPropIcon_FR {
  background: url(flameretardent_icon.png) no-repeat;
}

.SpecPropIcon_RM {
  background: url(removable_icon.png) no-repeat;
}

.SpecPropIcon_PM {
  background: url(permanent_icon.png) no-repeat;
}

.SpecPropIcon_HE {
  background: url(chem_resist_icon.png) no-repeat;
}

.CompIcon {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 50px;
  margin-right: 1rem;
  overflow: hidden;
  vertical-align: middle;
}

.Compliance_UL{
  background: url(UL_icon.png) no-repeat;
}

.Compliance_CUL{
  background: url(CUL_icon.png) no-repeat;
}

.Compliance_CSA{
  background: url(CSA_icon.png) no-repeat;
}

.Compliance_ROHS{
  background: url(ROHS_icon.png) no-repeat;
}

.BnumMaterialImage {
  margin-right: 1.25rem; 
  max-width: 100px;
  height: 120px;
  float: left;
}

.BnumConstruction {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem;
  font-size: .875rem;
}

.BnumConstructionHeading {
  margin: 0.75rem 0 0;
}

.BnumAttrHeading {
  margin: 0;
}

.BnumConstructionThickness {
  float: left;
  padding-right: 0.375rem;
  text-align: center;
  font-size: .875rem;
  line-height: 1rem;
  margin: 0;
}

.BnumConstructionSvg {
  width: 150px;
  padding-right: 0.375rem;
}

.BnumConstructionMaterials {
  font-size: 14px;
  margin: 0;
}

.BnumDisclaimer {
  font-size: .75rem;
  font-style: italic;
}

.colorbox_small {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 3px;
  border: 1px solid #aaa;
  margin: 0 0 .5rem .5rem;
}

.BnumChemAdhRating {
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 4px 10px;
  display: block;
  font-size: .875rem;
  font-weight: 600;
}

.BnumChemAdhRatingGood {
  background: #ddd;
}

.BnumChemAdhRatingBetter {
  background: #B2D8A5;
}

.BnumChemAdhRatingBest {
  background: #228b22;
  color: #fff;
}

.TDSSVG {
  width: 3rem;
  display: inline-block;
  vertical-align: middle;
  padding-right: .5rem;
}



@media screen and (min-width: 1200px) {
  .BnumDetailsSubSection--MaxThreeAcross {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .BR-MatSelApp__Results {
    padding-left: 1.5rem;
  }
}

@media screen and (min-width: 1600px) {
  .BnumDetailsSubSection--MaxThreeAcross {
    width: 33.33%;
  }
}







